body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.TodoList {
  width: 500px;
}

.TodoList ul {
  list-style: none;
  padding: 0;
}

.TodoList ul li {
  width: 100%;
  padding: 0 10px;
}